<div class="grid">


    <div  class="col-12 xl:col-12">


        <div class="px-4 py-5 shadow-1 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', 
            background: 'linear-gradient(0deg, rgba(213, 220, 229, 0.5), rgba(0, 123, 255, 0.5)),
            linear-gradient(92.54deg, #4fb1fd 47.88%, #FFFFFF 100.01%)'}">
            <div>
                <div class="text-white font-medium text-xl mt-2 mb-3">Encuentra y gestiona tus libros aquí</div>
                <div class="text-white font-bold text-4xl">Library app</div>
            </div>


         </div>


    </div>    
    <div class="col-12 md:col-4 lg:col-6 xl:col-3" *ngFor="let item of items">
        <div class="card shadow-1 hover:surface-50 mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{ item.name }}</span>
                    <div class="text-900 font-medium text-xl">{{ item.value }}</div>
                </div>
                <div class="flex align-items-center justify-content-center {{ item.color }} border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    
                    <i class="text-xl {{ item.icon }}"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>


    



</div>

