<p-toast></p-toast>

<div class="grid">

    <div class="col-12">



        <div class="card px-3 py-6">
            <p class="font-semibold text-lg">Gestión de libros</p>


            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
    


                    <!-- <p-button label="Importar desde PC" icon="pi pi-upload" iconPos="left"  
                    styleClass="  p-button-raised" 
                    
                    ></p-button> -->
                </ng-template>

                <ng-template pTemplate="right">

                    <p-button label="Nuevo" [text]="false"  [raised]="true"  icon="pi pi-database" iconPos="left"  
                    
                    (click)="onCreateButtonClick()"
                    ></p-button>
                  
                </ng-template>
            </p-toolbar>

            
            <p-table
                #dt
                [value]="booksFilter"
                [paginator]="true"
                [rows]="50"
                [lazy]="true"
                (onLazyLoad)="loadBooks($event)"
                [totalRecords]="totalRecords"
                [loading]="loading"
                styleClass="p-datatable-striped" 
            >
            
            
                <ng-template pTemplate="caption" >
                    <div class="flex justify-content-end flex-wrap" >
               
                        <div class="flex align-items-center justify-content-center m-2 ">
                            <div class="p-input-icon-left ">
                                <i class="pi pi-search"></i>
                                    <input pInputText type="text" placeholder="Buscar por título"                                
                                    (input)="applyFilterGlobal($event)"
                                />                            
                            </div>
                        </div> 
                    </div>
                </ng-template>
            
            
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%" pResizableColumn>Registro</th>
                        <th style="width:20%" pResizableColumn>Titulo</th>
                        <th style="width:25%" pResizableColumn>Descripción</th>
                        <th style="width:10%" class="text-center" pResizableColumn>Stock</th>
                        <th style="width:20%"pResizableColumn>Última modificación</th>
                        <th style="width:10%" pResizableColumn>Estado</th>
                        <th style="text-align: center;width: 0%;" pResizableColumn>Acción</th>
            
                    </tr>
                </ng-template>
            
            
                <ng-template pTemplate="body" let-book>
                    <tr>                        
                        <td class="ellipsis">
                            {{truncateText(book.id, 12)}}                             
                        </td>
                        <td class="ellipsis">{{book.title}}</td>
                        <td class="ellipsis">
                            
                            {{ truncateText(book.description, 80) }}
                        </td>                        
                        <td class="ellipsis text-center">
                            {{ book.units }} 
                            <i
                                *ngIf="book.units === 1 || book.units === 0"
                                class="pi"
                                [ngClass]="{
                                'pi-exclamation-circle': book.units === 1,
                                'pi-ban': book.units === 0
                                }"
                                [style.color]="book.units === 1 ? 'blue' : 'red'"
                                >
                            </i>
                        </td>
                        <td class="ellipsis">{{book.updated_at  | date:'yyyy-MM-dd HH:mm:ss'}} </td> 
                        <td class="ellipsis">           
                            <p-tag [severity]="book.status === 1 ? 'success': 'danger'">
                                {{ book.status === 1 ? 'Activo' : 'Inactivo' }}
                              </p-tag>
                             </td> 

                        <td>                                                 
                          <div style="display: flex; justify-content: center; gap: 2px;">
                            <button pButton pRipple icon="pi pi-file-edit" class="mr-2" [text]="false" [raised]="true" [rounded]="true" (click)="onClickUpdatedBook( book )"></button>                            
                            <p-button pbutton type="button" icon="pi pi-trash" [text]="false" [raised]="true" [rounded]="true"severity="secondary" (click)="onClickRemoveItem( book )"  ></p-button>
                          </div>
                        </td>
                    </tr>
                </ng-template>

            
            
            
            </p-table>
            
        </div>

    </div>


</div>

